<div style="margin-top: 45px;">
  <div align="center">
     <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet"> 
	  <footer class="footer" style="font-family: 'Roboto'; color: lightgray; font-weight: bold;">
        Bu Site Â« ğ“”ğ“•ğ“—ğ“œğ“®ğ“­ğ“²ğ“ªâœ¨ã‚­ Â» Ê¤#0351 tarafÄ±ndan yapÄ±lmÄ±ÅŸtÄ±r.
	  </footer>
  </div>
</div>